.Badges__hero {
    width: 100%;
    padding: 2rem 0;
    background-color: #1B1B25;
    background-repeat: repeat;
    margin-bottom: 1rem;
  }
  
  .Badges__hero>.Badges__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Badges__container {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .Badges_conf-logo {
    margin-bottom: 2rem;
  }
  
  .Badges__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    width: 129px;
    background-color: #98ca3f;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 12%;
    text-align: center;
      a{
        color: #fff;
      }
  }
  .badges__list{
    width: 80%;
    margin: 0 auto;
  }
  .list-unstyled{
    padding: 10px 10px;
    box-sizing: border-box;
    padding-left: 10px !important;

    li{
      width: 100%;
      padding: 10px;
      border: solid 0.3px #cecece;
      margin: 10px 0px;
      border-radius: 5px;
      display: flex;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.31);
        img{
          border-radius: 50%;
          overflow: hidden;
          margin-right: 20px;
        }
    }
  }